/* .pokedex-header{
  background-color: skyblue;

}\ */

.app-container{

  width: 99vw;
}

h1{

  margin: 0;
  padding: 10px;
  background-color: #FFD460;
  border-radius: 20px;
  text-align: center;

}


.pokemon-grid{

  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
  padding: 20px;

}

.pokemon-card{

  width: 150px;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: white;

}


.pokemon-card:hover {

  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);

}

.pokemon-card img {
  width: 90px;
  height: 90px;
}
